
/* login page */
main {

    height: 100vh;
    
}

/* slider component */

main .row .col.slider {
width: 50%;
height: 100vh;
background-image: -webkit-gradient(linear, left top, right top, from(#000b20), to(#002166));
}

@media (max-width:768px) {
    main .row .col.slider {
        width: 100%;
    }
}


 .container-slider {
    max-width: 800px;
    height: 100vh;
    position: relative;
    margin: auto;
    color: white;
    font-size: large;
    animation: fade 0.5s;
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.2);
  }
  .dots {
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translateX(-50%);

  }
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border: 1px white solid;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
  }
  
  .active, .dot:hover {
    background-color: lightgrey;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.2s;
  }
  
  @keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
  }


/* end of slider component */

/* login form component */

main .form img {
    width: 100%;
    max-width: 50px;
}

main .row .col.form {
width: 50%;
height: 100vh;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
overflow: hidden;

}

@media (max-width:768px) {
    main .row .col.form {
        width: 100%;
    }
}


main .form h3 {
    
    font-size: 1.5rem;
    color: #445065;
    margin: 3px;
    
    }


.form button.social {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    color: white;
    font-size: large;
    font-family: sans-serif;
    border: 0.5px solid var(--succ-color);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  
}

button.social.google {
    background-color:#4285F4;
    border: 1px solid var(--sec-color);
    
}
button.social.google::before {
    content: '';
    background: url("/imgs/Google-Logo.png");
    background-size: cover;
    position: absolute;
    left: 1px;
    top: 3px;
    width: 32px;
    height: 29px;
    z-index: 1000;
    filter: drop-shadow(3px 10px 20px black)
  }

button.social.github {
    background-color:var(--succ-color);

}
button.social.github::before {
    font-family: fontAwesome;
    content: "\f09b";
    position: absolute;
    left: 10px;
    font-size: 20px;
  }
button.social.microsoft {
    background-color: white;
    color: black;
}
button.social.microsoft::before {
    content: '';
    background: url("/imgs/Microsoft-Logo.png");
    background-size: cover;
    position: absolute;
    left: -20px;
    top: -10px;
    width: 80px;
    height: 60px;
    z-index: 1000;
  }

  button.social.microsoft:hover {
    background-color: #4285F4;
    color: white;
    transition: 0.1s;
  }

  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    width: 80%;
    margin-left: 10%;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.281);
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }
/* inputs */
    form {
        width: 80%;
        margin: 0 10%;
        text-align: left;
    }
 form button[type=submit] {
    width: 100%;
    background-color: #ccc;
    color: white;
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    font-family: sans-serif;
    margin-bottom: 0;
  }
  
 form button[type=submit]:hover {
    background-color: rgb(235, 229, 229);
  }
  form button[type=submit]:disabled {
    cursor: not-allowed;
  }


 form input[type=email],input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    
 }

 form input[type=email]:focus,input[type=password]:focus{
    outline: none;
    border-color: #09f;
    box-shadow: inset 0 0 4px 0 #09f;
    
 }

 form input[type=email]:invalid:focus,input[type=password]:invalid:focus{

  border-color: rgb(255, 0, 0);
  box-shadow: inset 0 0 4px 0 rgb(192, 20, 20);
  
}

 form .pswMsg{
   color: #f00000;
   font-family: 'Courier New', Courier, monospace;
  
 }

 form .emMsg{
  color: #f00000;
  font-family: 'Courier New', Courier, monospace;
}



 form span {
    display: flex;
}
 form label.forget {
     margin-left: auto;
     color: darkgrey;
    
 }
 form label.forget:hover {
    
    color: var(--sec-color);
    cursor: pointer;
}

form p.right {
    margin-left: auto;
    color: var(--sec-color);
}
form p.right:hover {
    margin-left: auto;
    color: darkgrey;
    cursor: pointer;
}
span.sup {
    color: var(--sec-color);
    display: inline;
}
span.sup:hover {
   
    color: darkgrey;
    cursor: pointer;
}

.row .col.form p.trust {
    margin-top: 10px;
    color: darkgrey;
}

.form div.trusted {
    filter: grayscale(1);
    width: 100%;
    max-height: 20px;
    justify-content: space-evenly;
    display: flex;
}

.form div.hidden {
  width: 100%;
  border-radius: 4px;
  text-align: center;
  border-color: rgb(255, 0, 0);
  box-shadow: inset 0 0 10px 0 rgb(192 20 20);
  color: #c40e0e;
  padding: 1px;
  font-family: 'Ubuntu Mono', monospace;
  display: none;
}

/* end of login component */
/* end of login page */