/* main styles  */
/* the fonts & colors inspired by Instabug website */

:root {
    --pri-color:#246aff;
    --sec-color:#007aff;
    --succ-color:#011030;
    --text-color:#dbe7ff;
    --padd:20px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu Mono', monospace;
}

a {
    text-decoration: none;
}

P {
    font-family: Arial, Helvetica, sans-serif;
}

/* end of main styles  */

/* calsses for me */

.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
}

/* end of my classes */


/* login page */
main {

    height: 100vh;
}

main img {
    width: 100%;
    max-width: 50px;
}

main .row .col.slider {
width: 50%;
height: 100vh;

}

main .row .col.form {
width: 50%;
height: 100vh;

}

main h3 {
    
    font-size: 1.5rem;
    color: var(--pri-color);
    
    }


.form button.social {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    color: white;
    font-size: large;
    font-family: sans-serif;
    border: 0.5px solid var(--succ-color);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  
}

button.social.google {
    background-color:#4285F4;
    border: 1px solid var(--sec-color);
}
button.social.google::before {
    content: '';
    background: url("/imgs/Google-Logo.png");
    background-size: cover;
    position: absolute;
    left: 1px;
    top: 3px;
    width: 32px;
    height: 29px;
    z-index: 1000;
  }

button.social.github {
    background-color:var(--succ-color);

}
button.social.github::before {
    font-family: fontAwesome;
    content: "\f09b";
    position: absolute;
    left: 10px;
    font-size: 20px;
  }
button.social.microsoft {
    background-color: white;
    color: black;
}
button.social.microsoft::before {
    content: '';
    background: url("/imgs/Microsoft-Logo.png");
    background-size: cover;
    position: absolute;
    left: -20px;
    top: -10px;
    width: 80px;
    height: 60px;
    z-index: 1000;
  }

  button.social.microsoft:hover {
    background-color: var(--sec-color);
    color: white;
    transition: 0.1s;
  }

  hr {
    width: 80%;
}
/* inputs */
    form {
        width: 80%;
        margin: 0 10%;
        text-align: left;
    }
 form input[type=submit] {
    width: 100%;
    background-color: #ccc;
    color: white;
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    font-family: sans-serif;
    margin-bottom: 0;
  }
  
 form input[type=submit]:hover {
    background-color: rgb(235, 229, 229);
  }

 form input[type=email],input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    
 }
 form span {
    display: flex;
}
 form label.forget {
     margin-left: auto;
     color: darkgrey;
 }
 form label.forget:hover {
    
    color: var(--sec-color);
    cursor: pointer;
}

form p.right {
    margin-left: auto;
    color: darkgrey;
}
form p.right:hover {
    margin-left: auto;
    color: var(--sec-color);
    cursor: pointer;
}
span.sup {
    color: darkgrey;
    display: inline;
}
span.sup:hover {
    color: var(--sec-color);
}

.row .col.form p.trust {
    color: darkgrey;
    margin: 0;
}
/* end of login page */

